*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	/* --color-text: #fff;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: #907030;
	--color-title: #907030; */
	--perspective: 1500px;
	--grid-item-ratio: 1.5;
	--grid-width: 100%;
	--grid-height: auto;
	--grid-gap: 2vw;
	--grid-columns: 4;
	--grid-inner-scale: 1;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: black;
	/* font-family: "moret-variable", serif; */
	/* font-variation-settings: "ital" 0, "wght" 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	cursor: url('../assets//images/cursor.png'), auto;
}

.page {
    transition: background-color 0.5s, color 0.5s;
  }

  .black-background {
    background: black;
    color: white;
  }

  .white-background {
    background: #FAE1DF;
    color: black;
  }

  section {
    margin-top: 57px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
  }

  h1 {
    overflow: hidden;
  }

  h1>div {
    transform: translateY(100%);
  }

  #projects,
  #contact {
    text-align: center;
  }


  .img {
    width: auto;
    height: auto;
    transition: transform 1s ease-out;
  }

  .img:hover {
    transform: translate(0, -0.4em);
  }

  .image {
    width: 6em;
    height: 5.5em;
    border-radius: 50%;
    /* box-shadow: 0 0 0.5em 0.3em rgb(0, 0, 0); */
    transition: box-shadow 1s ease-out, border-radius 1s ease-out;
  }

  .image:hover {
    border-radius: 5%;
    box-shadow: 0 0 0.5em 0.55em rgb(0, 0, 0);
  }

  .image.black-background {
    box-shadow: 0 0 0.1em 0.1em white;
    ;
  }

  .image.white-background {
    box-shadow: 0 0 0.1em 0.1em black;
    ;
  }

  @media all and (min-width:240px) and (max-width:430px) {
    .about_me {
      flex-direction: column-reverse;
      height: 100svh;
      gap: 0.2em;
      overflow: auto;
    }

    #about {
      width: 90%;
    }

    #about h1,
    button {
      text-align: center;
    }

    .img {
      margin: 0.7em;


    }

    section {
      margin-top: -132px;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
    }

    .intro {
      height: calc(100vh - 3rem);
      padding-top: 10vh;
      text-align: center;
      place-items: center;
      display: grid;
      grid-template-areas: 'intro';
      margin-bottom: 50vh;
      background: linear-gradient(0deg, black, #ff98a2);
    }

    .content__text--left {
      justify-self: start;
      padding: 3rem;
      font-size: 28px;
      grid-area: layout;
      align-self: center;
    }

    .content__title {

      font-size: clamp(1.5rem, 10vw, 3.5rem);
    }

  }


  .allpage {
    height: 1365px;
    font-family: "Oswald";
  }

  .hero__ {
    /* padding: 20px; */
    height: 100vh;
    min-height: 500px;
    background: rgba(187, 0, 0, 0.667);
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
  }

  .hero-wrap {
    height: 400px;
    width: 100%;
    background: #000a;
    display: flex;
    padding: 20px;
    position: relative;
  }

  .col {
    width: 50%;
    padding-left: 274px;

  }

  .hero__left h3 {
    font-size: 45px;
  }

  .hero__right {
    position: relative;
    right: 20px;
    heigth: 100%;
    padding-left: 20px;
  }

  .hero__item {
    margin: 10px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #111;
    border: 4px solid #333;
    height: 218px;
    width: 218px;
    margin-bottom: 40px;
    transition: all 0.4s ease-out;
    font-size: 30px;
  }


  .hero__item.active {
    border: 4px solid #0047ffaa;
    box-shadow: 0 0 20px #0332ad;
  }

  .hero__left {
    position: sticky;
    top: 20px;
    /* Adjust based on how far from the top you want it to stick */
  }







.content {
	position: relative;
	margin-bottom: 20vh;
}

.content--spacing {
	margin-bottom: 100vh;
}

.content__title {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 50%;
	left: 50%;
	margin: -50vh 0 0 -50vw;
	padding: 0 10vw;
	display: grid;
	place-items: center;
	text-align: center;
	font-weight: 300;
	font-size: clamp(1.5rem, 15vw, 6.5rem);
}

.content__title--top {
	align-items: start;
}

.content__title--bottom {
	align-items: end;
}

.content__title--left {
	justify-items: start;
	text-align: left;
}

.content__title--right {
	justify-items: end;
	text-align: right;
}

.outro {
	display: grid;
	place-items: center;
	margin: 40vh 0;
}

.grid {
	display: grid;
	place-items: center;
	padding: 2rem;
	width: 100%;
	perspective: var(--perspective);
}

.grid-wrap {
	height: var(--grid-height);
	width: var(--grid-width);
	display: grid;
	grid-template-columns: repeat(var(--grid-columns),1fr);
	gap: var(--grid-gap);
	transform-style: preserve-3d;
}

.grid__item {
	aspect-ratio: var(--grid-item-ratio);
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	border-radius: 8px;
	display: grid;
	place-items: center;
}

.grid__item-inner {
	position: relative;
	width: calc(1 / var(--grid-inner-scale) * 100%);
	height: calc(1 / var(--grid-inner-scale) * 100%);
	background-size: cover;
	background-position: 50% 50%;
	opacity: 0.9;
	z-index: -1;
    transform: translate(-50%, -50%);
    filter: grayscale(100%) sepia(100%) hue-rotate(-56deg) saturate(300%) brightness(90%);
}
@media (hover: hover) and (pointer: fine) {
    #cursor {
      z-index: 99;
      position: fixed;
      left: 0;
      top: 0;
      pointer-events: none;
      will-change: transform;
    }

    #cursor .cursor--inner {
      width: 2vw;
      height: 2vw;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      border: solid 1px #ff98a2;
    }
  }
@media screen and (min-width: 53em) {
	.frame {
		grid-template-columns: auto auto auto 1fr;
		grid-template-areas: 'title prev ... sponsor';
		align-content: space-between;
		justify-items: start;
		grid-gap: 2rem;
	}
	.frame__demos {
		justify-self: end;
	}

	.content--outro {
		height: 100vh;
		justify-content: center;
	}

	.card-wrap {
		grid-template-columns: repeat(3,250px);
	}

	body #cdawrap {
	    justify-self: end;
	}
}
